<!DOCTYPE html>

<html>
<head>
    <title>
        About
    </title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    <p>I'm 3rd year student of MIT manipal (B.Tech Computer and Communication)</p>
    <p>this site was created by Suyash Jhawer.</p>
     <img class='portrait' src="/images/1617356847806.jpg">
    </div>
    
    
    {{>footer}}
</body>




</html>